body{
    background-image: url(Images/fondo.jpg);
    background-size:cover;
    min-height: 98vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;

}

.form{
    padding: 25px 80px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(15px);
    
}
.inputs{
    display: flex;
    flex-direction: column;
}
.box{
    outline: none;
    border-color: orange;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
 
}
a{
    color: orange;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 35px;
}

button{
    padding: 15px;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    color: orange;
  
}

h2{
    font-size: 2rem;
    font-family:sans-serif;
    color: orange;
}